.main--container {
  margin-inline: 10%;
  margin-block: 2rem;
}
main {
  min-width: 100%;
}
header img {
  width: 90px;
  height: 90px;
  margin-bottom: 1rem;
  border-radius: 50%;
}
header h2 {
  font-size: 20px;
}
.main--section {
  gap: .7rem;
  margin-top: 2.3rem;
}
.link__btn {
  background: #EAECF0;
  padding: 1.2rem;
  width: 100%;
  text-align: center;
  border-radius: .5rem;
  text-decoration: none;
  color:#101828;
  font-weight: 700;
  font-size: 1rem;
}
.socials--section {
  flex-direction: row !important;
  gap: .8rem;
  margin-top: 1.5rem;
  padding-block: .5rem;
}

